.bordetabla{
	border-collapse: collapse;
	border-color: #000000;
	}
.bordeceldas{
	border: 2px solid;
	border-color: #000000;
	
	}	
.bordeceldastitu{
	border: 2px solid;
	border-color: #000000;
	text-align:center;
	}
.celdaspopup{
	font-family:Arial;
	font-size:8pt;
	
	}
.titulopopup{
	font-family:Arial;
	font-size:12pt;
	color:black;
	font-weight:bold;	
	}

.letrapopup{
	font-family:Arial;
	font-size:8pt;
	font-weight: bold;
	color:black;
	}
