#ventanaPopup1Fondo{
display:none;
position:fixed;
_position:absolute; /* caso especial para IE 6*/
height:100%;
width:100%;
top:0;
left:0;
background:#000000;
border:1px solid #cecece;
z-index:1;
}
#ventanaPopup1{
display:none;
position:fixed;
_position:absolute; /* caso especial para IE 6*/
width:450px;
background:#1B52B8;
border:2px solid #FFF300;
z-index:2;
padding:12px;
margin-top:7px;
font-size:13px;
top:0 !important;
}
#ventanaPopup1Cerrar{
font-size:14px;
line-height:14px;
right:6px;
top:4px;
position:absolute;
color:#FF0000;
font-weight:700;
display:block;
}
