.login {

	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;

	font-size: 12px;

	font-style: normal;

	line-height: normal;

	font-weight: bold;

	font-variant: normal;



	color: #000000;

}
.button {
   border-top: 1px solid #066175;
   background: #057b96;
   background: -webkit-gradient(linear, left top, left bottom, from(#06cbfc), to(#057b96));
   background: -webkit-linear-gradient(top, #06cbfc, #057b96);
   background: -moz-linear-gradient(top, #06cbfc, #057b96);
   background: -ms-linear-gradient(top, #06cbfc, #057b96);
   background: -o-linear-gradient(top, #06cbfc, #057b96);
   padding: 16.5px 63px;
   -webkit-border-radius: 29px;
   -moz-border-radius: 29px;
   border-radius: 29px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   font-family: Helvetica, Arial, Sans-Serif;
   text-align:right;
   text-decoration: none;
   vertical-align: middle;
   }
.button:hover {
   border-top-color: #031e30;
   background: #031e30;
   color: #ede1ed;
   }
.button:active {
   border-top-color: #02131f;
   background: #02131f;
   }

input[type=submit] {
    background-color: #008CBA;
    border: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
}

input[type="submit"]:hover {
    background: #ddd;
	color: black;
}
.banTitulo {

	font-family: Verdana, Arial, Helvetica, sans-serif;

	font-size: 10px;

	font-style: normal;

	line-height: normal;

	font-weight: bold;

	font-variant: normal;

	text-transform: none;

	color: #FFFFFF;

}

.titulobanner {

	font-family: Verdana, Arial, Helvetica, sans-serif;

	font-size: 24px;

	font-style: normal;

	line-height: normal;

	font-weight: bold;

	font-variant: normal;

	text-transform: uppercase;

	color: #000033;

}

.menutitulo {

	font-family: Verdana, Arial, Helvetica, sans-serif;

	font-size: 12px;

	font-style: normal;

	line-height: normal;

	font-weight: bold;

	font-variant: normal;

	text-transform: none;

	color: #FFFFFF;

	background-color: #7AC7D1;

	text-align: left;

	vertical-align: middle;

}

.menutitulocapa {

	font-family: Verdana, Arial, Helvetica, sans-serif;

	font-size: 14px;

	font-style: normal;

	line-height: normal;

	font-weight: bold;

	font-variant: normal;

	text-transform: none;

	color: #FFFFFF;

	background-color: #7AC7D1;

	text-align: left;

	vertical-align: middle;

}

.menutitulocapaC {

	font-family: Verdana, Arial, Helvetica, sans-serif;

	font-size: 14px;

	font-style: normal;

	line-height: normal;

	font-weight: bold;

	font-variant: normal;

	text-transform: none;

	color: #FFFFFF;

	background-color: #7AC7D1;

	text-align: center;

	vertical-align: middle;

}

.subtilTabla {

	font-family: Verdana, Arial, Helvetica, sans-serif;

	font-size: 10px;

	font-style: normal;

	line-height: normal;

	font-weight: bold;

	font-variant: normal;



	background-color: #EAFAFF;

	text-align: center;

}

.subtilTabla2 {

	font-family: Verdana, Arial, Helvetica, sans-serif;

	font-size: 10px;

	font-style: normal;

	line-height: normal;

	font-weight: bold;

	font-variant: normal;



	background-color: #EAFAFF;

	text-align: left;

}

.procDat {

	font-family: Verdana, Arial, Helvetica, sans-serif;

	font-size: 10px;

	font-style: normal;

	line-height: normal;

	font-weight: normal;

	font-variant: normal;

	color: #000000;

	vertical-align: middle;

	text-align: center;

}





.Itemmenu {

	font-family: Arial, Helvetica, sans-serif;

	font-size: 12px;

	font-style: normal;

	line-height: normal;

	font-weight: normal;

	font-variant: normal;



	color: #000033;

	text-align: left;

	vertical-align: bottom;

}

.Itemmenu1 {

	font-family: Arial, Helvetica, sans-serif;

	font-size: 8px;

	font-style: normal;

	line-height: normal;

	font-weight: normal;

	font-variant: normal;



	color: #000033;

	text-align: left;

	vertical-align: bottom;

}

.menuTil {

	font-family: Verdana, Arial, Helvetica, sans-serif;

	font-size: 11px;

	font-style: normal;

	line-height: normal;

	font-weight: bold;

	font-variant: normal;

	text-transform: none;

	color: #FFFFFF;

	background-color: #3F658C;

	text-align: left;

	border-top-color: #F0F0F0;

	border-right-color: #F0F0F0;

	border-bottom-color: #F0F0F0;

	border-left-color: #F0F0F0;

}
.menuTil1 {

	font-family: Verdana, Arial, Helvetica, sans-serif;

	font-size: 11px;

	font-style: normal;

	line-height: normal;

	font-weight: bold;

	font-variant: normal;

	text-transform: none;

	color: #FFFFFF;

	background-color: #3F658C;

	text-align: right;

	border-top-color: #F0F0F0;

	border-right-color: #F0F0F0;

	border-bottom-color: #F0F0F0;

	border-left-color: #F0F0F0;

}

.menuTil2 {

	font-family: Verdana, Arial, Helvetica, sans-serif;

	font-size: 11px;

	font-style: normal;

	line-height: normal;

	font-weight: bold;

	font-variant: normal;

	text-transform: none;

	color: #FFFFFF;

	background-color: #3F658C;

	text-align: left;

	border-top-color: #F0F0F0;

	border-right-color: #F0F0F0;

	border-bottom-color: #F0F0F0;

	border-left-color: #F0F0F0;

	text-align: center;

}

.contenidoTabla {

}



.menuIte {

	font-family: Verdana, Arial, Helvetica, sans-serif;

	font-size: 10px;

	font-style: normal;

	line-height: normal;

	font-weight: normal;

	font-variant: normal;

	color: #000099;

	background-color: #FFFFFF;

}



.error {

	font-family: Verdana, Arial, Helvetica, sans-serif;

	font-size: 12px;

	font-style: normal;

	line-height: normal;

	font-weight: bold;

	font-variant: normal;

	text-transform: none;

	color: #FF0000;

	text-align: center;

}
.error2 {

	font-family: Verdana, Arial, Helvetica, sans-serif;

	font-size: 16px;

	font-style: normal;

	line-height: normal;

	font-weight: bold;

	font-variant: normal;

	text-transform: none;

	color: #FF0000;

	text-align: center;

}

.ok {

	font-family: Verdana, Arial, Helvetica, sans-serif;

	font-size: 12px;

	font-style: normal;

	line-height: normal;

	font-weight: bold;

	font-variant: normal;

	text-transform: none;

	color: #669966;

	text-align: center;

}


.alertamsg {

	font-family: Verdana, Arial, Helvetica, sans-serif;

	font-size: 12px;

	font-style: normal;

	line-height: normal;

	font-weight: bold;

	font-variant: normal;

	text-transform: none;

	color: #FF0000;

	text-align:justify;

}



.tituloTabla {

	font-family: Verdana, Arial, Helvetica, sans-serif;

	font-size: 16px;

	font-style: normal;

	line-height: normal;

	font-weight: bold;

	font-variant: normal;

	text-transform: uppercase;

	color: #000099;

	background-color: #CCCCCC;

/*	background-color: #E9E9E9;*/

	text-align: center;

}

.ingresoTabla {

	font-family: Verdana, Arial, Helvetica, sans-serif;

	font-size: 11px;

	font-style: normal;

	line-height: normal;

	font-weight: bold;

	font-variant: normal;

	color: #000000;

}

.ingresoTablaC {

	font-family: Verdana, Arial, Helvetica, sans-serif;

	font-size: 11px;

	font-style: normal;

	line-height: normal;

	font-weight: bold;

	font-variant: normal;

	color: #000000;

	text-align: center;

}

.subtitulo {

	font-family: Verdana, Arial, Helvetica, sans-serif;

	font-size: 13px;

	font-style: italic;

	line-height: normal;

	font-weight: bold;

	font-variant: normal;

	color: #000000;

	text-align: left;

}

.contenidotabla {

	font-family: Verdana, Arial, Helvetica, sans-serif;

	font-size: 12px;

	font-style: normal;

	line-height: normal;

	font-weight: normal;

	font-variant: normal;

	text-transform: none;

	color: #000000;

	text-align: justify;

	background-color: #F8F8F8;

}

.titulotablacampo {

	font-family: Verdana, Arial, Helvetica, sans-serif;

	font-size: 12px;

	font-style: normal;

	line-height: normal;

	font-weight: bold;

	font-variant: normal;

	color: #ffff;

	background-color: #333333;

	text-align: center;

}

.titulotablacampo3 {

	font-family: Verdana, Arial, Helvetica, sans-serif;

	font-size: 10px;

	font-style: normal;

	line-height: normal;

	font-weight: bold;

	font-variant: normal;



	color: #fff;

	background-color: #333333;

	text-align: left;

}

.titulotablacampo2 {

	font-family: Verdana, Arial, Helvetica, sans-serif;

	font-size: 9px;

	font-style: normal;

	line-height: normal;

	font-weight: bold;

	font-variant: normal;



	color: #fff;

	background-color: #333333;

	text-align: center;

}

.contenidotablacenter {

	font-family: Verdana, Arial, Helvetica, sans-serif;

	font-size: 12px;

	font-style: normal;

	line-height: normal;

	font-weight: normal;

	font-variant: normal;

	text-transform: none;

	text-align: center;

}

.impresion {

	height:26px;

}

.contenidotablacenter9 {

	font-family: Verdana, Arial, Helvetica, sans-serif;

	font-size: 9px;

	font-style: normal;

	line-height: normal;

	font-weight: normal;

	font-variant: normal;

	text-transform: none;

	text-align: center;

}

.contenidotablacenterLeft {

	font-family: Verdana, Arial, Helvetica, sans-serif;

	font-size: 9px;

	font-style: normal;

	line-height: normal;

	font-weight: normal;

	font-variant: normal;

	text-transform: none;

	text-align: justify;

}

a:link {

color: #000066;

text-decoration: none;

}



a:visited {

color: #000066;

text-decoration: none;

}



a:hover {

color: #000066;

background-color: #E9E9E9;

}

.tituloProcedimiento {

	font-family: Verdana, Arial, Helvetica, sans-serif;

	font-size: 18px;

	font-style: normal;

	line-height: normal;

	font-weight: bold;

	text-transform: uppercase;

	color: #000000;

}

.encabezadoFormato2 {

	font-family: Verdana, Arial, Helvetica, sans-serif;

	font-size: 14px;

	font-style: normal;

	line-height: normal;

	font-weight: bold;

	font-variant: normal;

	text-transform: uppercase;

	color: #000000;

}

.textoformato {

	font-family: Verdana, Arial, Helvetica, sans-serif;

	font-size: 14px;

	font-style: normal;

	font-weight: normal;

	color: #000000;

	background-position: center;

}

.contenidoTabla2 {

	font-family: Verdana, Arial, Helvetica, sans-serif;

	font-size: 10px;

	font-style: normal;

	line-height: normal;

	font-weight: normal;

	font-variant: normal;



	background-color: #F8F8F8;

}

.contenidoTabla3 {

	font-family: Verdana, Arial, Helvetica, sans-serif;

	font-size: 9px;

	font-style: normal;

	line-height: normal;

	font-weight: normal;

	font-variant: normal;



	background-color: #F8F8F8;

}

.DetalleTabla {

	font-family: Verdana, Arial, Helvetica, sans-serif;

	font-size: 8.5px;

	font-style: normal;

	line-height: normal;

	font-weight: normal;

	font-variant: normal;

	background-color: #669966;

	color: #FFFFFF;

}
.DetalleTabla2 {

	font-family: Verdana, Arial, Helvetica, sans-serif;

	font-size: 12px;

	font-style: normal;

	line-height: normal;

	font-weight: normal;

	font-variant: normal;

	background-color: #669966;

	color: #FFFFFF;

}
.DetalleTablaC2 {

	font-family: Verdana, Arial, Helvetica, sans-serif;

	font-size: 12px;

	font-style: normal;

	line-height: normal;

	font-weight: normal;

	font-variant: normal;

	text-align:center;

	background-color: #669966;

	color: #FFFFFF;

}

.informeTabla {

	font-family: Verdana, Arial, Helvetica, sans-serif;

	font-size: 9px;

	font-style: normal;

	line-height: normal;

	font-weight: bold;

	font-variant: normal;

	color: #003366;

	background-color: #FFFF66;

	color: #003366;

}
.informeTabla2 {

	font-family: Verdana, Arial, Helvetica, sans-serif;

	font-size: 12px;

	font-style: normal;

	line-height: normal;

	font-weight: bold;

	font-variant: normal;

	color: #003366;

	background-color: #FFFF66;

	color: #003366;

}



#menuh {

        font: 100% "Trebuchet MS", Arial, Helvetica, sans-serif;

        margin-top: 20px;

}



#menuh ul, li {

        list-style-type: none;

}



#menuh ul {

        margin: 0;

        padding: 0;

}



#menuh li {

        float: left;

}



#menuh a {

        text-decoration: none;

        color: #7AC7D1;

        background: #F0F7FC;

        display: block;

        padding: 3px 10px;

        text-align: center;

        border: 1px solid #ACCFE8;

        border-width: 1px 1px 1px 1px;

}





#menuh a#primero {

        border-left: 1px solid #ACCFE8;

}



#menuh a:hover {

        background: #DBEBF6;

}

/*#myDiv{
 margin:0px;
 width:200px;
}*/

.sugerencias:hover{
 background-color:#D3D3D3;
 cursor:default;
}

body{
 color:#696969;
 font-family:Arial,Helvetica,sans-serif;
}

#bus{
 background-image:url('../imagenes/search.png');
 background-size:25px 23px;
 background-repeat:no-repeat;
 background-position:right;
 border-radius: 5px;
 border-style:solid;
 border-color:#1E90FF;
 border-width:1px;
 height:20px;
 color:#808080;

}
.menuItebus {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	color: #000099;
	background-color: #FFFFFF;
	text-decoration:underline;
}
#busde{
 background-image:url('../imagenes/search.png');
 background-size:25px 23px;
 background-repeat:no-repeat;
 background-position:right;
 border-radius: 5px;
 border-style:solid;
 border-color:#1E90FF;
 border-width:1px;
 height:20px;
 color:#808080;

}
#busdo{
 background-image:url('../imagenes/search.png');
 background-size:25px 23px;
 background-repeat:no-repeat;
 background-position:right;
 border-radius: 5px;
 border-style:solid;
 border-color:#1E90FF;
 border-width:1px;
 height:20px;
 color:#808080;

}
.ui-menu {
    display: block;
    list-style: outside none none;
    margin: 0;
    outline: medium none;
    padding: 0;
    font-size: 0.6em !important;
    overflow: scroll !important;
    max-height: 100% !important;
}
.custom-combobox {
position: relative;
display: inline-block;
padding-right: 30px;
}
.custom-combobox-toggle {
position: absolute;
top: 0;
bottom: 0;
margin-left: -1px;
padding: 0;
}
.custom-combobox-input {
margin: 0;
padding: 5px 10px;
}
.bolivar_informacion_block{
	display: block;
}
.bolivar_informacion_none{
	display: none;
}
a#formato_dileng {
    color: red !important;
		font-size: 14px !important;
}

.label_fechas{
	font-size: 11px !important;
}

.div_prin{
	float: right;
	padding-top: 5px;
}

.div_sec_iz{
	float: left;
}

.div_sec_der{
	float: right;
}

.verDoc{
	display: none;
}

.td_fecha{
	text-align: center;
}

.thSeguimiento{
	font-weight: bold !important;
}
.mensaje{
			border:dashed 1px red;
			background-color:#FFC6C7;
			color: #000000;
			padding: 10px;
			text-align: left;
			margin: 10px auto; 
			display: none;
		}
.cargando{
		border:dashed 1px red;
			background-color:#FFC6C7;
			color: #000000;
			padding: 10px;
			text-align: left;
			margin: 10px auto; 
			display: none;
		}	
.boton_personalizado{
    text-decoration: none;
    padding: 7px;
	text-align:center;
	width:140px;
    font-weight: 200;
    font-size: 14px;
    color: #ffffff;
    background-color: #1883ba;
    border-radius: 6px;
    border: 2px solid #0016b0;
	cursor:pointer;
  }
  .boton_personalizado:hover{
    color: #1883ba;
    background-color: #ffffff;
  }
  .eliminar{
    cursor:pointer;
  }